.menu-card-big {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 12px 0px 12px 0px;
    border-radius: var(--primary-radius);
    background-size: cover;
    cursor: pointer;
}

.recept {
    background-image: url("https://img.chefkoch-cdn.de/rezepte/446511136906689/bilder/697035/crop-642x428/tomatensauce-a-la-miracoli.jpg");
}

.menu-card-small {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50%;
    margin: 12px 0px 12px 0px;
    border-radius: var(--primary-radius);
    background-size: cover;
}

.delete-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: red;
    border-radius: var(--primary-radius);
    height: 20px;
    width: 20px;
    top: 5px;
    left: 5px;
    z-index: 1;
}
