.popup {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;

    .popup-main-container {
        display: flex;
        position: relative;
        height: 150px;
        width: 300px;
        align-items: center;
        top: 50px;
        background-color: var(--secondary-color);
        border-radius: var(--primary-radius);
    }
}

.popup-link-container{
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    input {
        background-color: white;
        width: 60%;
        font-size: 0.5em;
        padding: 5px;
        height: 100%;
        color: black;
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: var(--primary-radius) 0 0px var(--primary-radius);
    }
}

.popup-main-container{
    display: flex;
    flex-direction: column;
}

.popup-close-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
}
