:root {
  --primary-color: #313642;
  --secondary-color: #3e4553;
  --secondary-color-hover: #525966;
  --action-color: #fe7461;
  --action-color-hover: #f5543f;
  --primary-radius: 20px;
}

body {
  color: white !important;
  margin: 20px !important;
  background-color: var(--primary-color) !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(154, 154, 192);
  text-decoration: none; /* no underline */
}

.btn-primary {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 25px;
  border-radius: var(--primary-radius);
  background-color: var(--action-color);
  cursor: pointer;
  &:hover{
    background-color: var(--action-color-hover) !important;
  }
  .active {
  }
  .visited {
  }
}

